* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0a0a0a;
}

a {
    position: relative;
    display: inline-block;
    padding: 35px 45px;
    margin: 55px 0;
    color: #66ff00;
    font-size: 48px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 500ms;
    letter-spacing: 7px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    margin-left: 30px;
}

a:hover {
    background-color: #66ff00;
    color: #02050e;
    box-shadow: 0 0 5px #66ff00, 0 0 35px #66ff00, 0 0 60px #66ff00, 0 0 235px #66ff00
}

a span {
    position: absolute;
    display: block;
}


/*Change color*/

a:nth-child(1) {
    filter: hue-rotate(150deg);
}

a:nth-child(3) {
    filter: hue-rotate(50deg);
}


/* TOP */

a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #66ff00);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%
    }
}


/* RIGHT */

a span:nth-child(2) {
    top: -100;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #66ff00);
    animation: animate2 1s linear infinite;
    animation-delay: 250ms;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%
    }
}


/*BOTTOM*/

a span:nth-child(3) {
    bottom: 0;
    right: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #66ff00);
    animation: animate3 1s linear infinite;
    animation-delay: 500ms;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%
    }
}


/*LEFT*/

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(270deg, transparent, #66ff00);
    animation: animate4 1s linear infinite;
    animation-delay: 750ms;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%
    }
}